.hh-plus-plus-config-panel.boob-strapper {
  background: linear-gradient(to top, #572332 0, #572332 1%, #2c1e1c 100%);
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #ffa23e, #c41b53);
  border-style: solid;
  border-width: 4px;
  box-shadow: inset 0 0 40px 15px #662034;
  display: none;
  height: 470px;
  position: absolute;
  right: 63px;
  top: 70px;
  width: 900px;
  z-index: 100;
}

.hh-plus-plus-config-panel.boob-strapper.shown {
  display: block;
}

.hh-plus-plus-config-panel.boob-strapper .close-config-panel {
  background-image: var(--cross-icon);
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 37px;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 41px;
}

.hh-plus-plus-config-panel.boob-strapper .tabs {
  display: flex;
  height: 2.5rem;
  max-width: 53rem;
  white-space: nowrap;
}

.hh-plus-plus-config-panel.boob-strapper .tabs h4 {
  color: #d08467;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 18px;
  font-weight: 400;
  height: 26px;
  letter-spacing: 0.22px;
  line-height: 30px;
  margin: 0 15px;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
}

.hh-plus-plus-config-panel.boob-strapper .tabs h4:first-child {
  margin-left: 15px;
}

.hh-plus-plus-config-panel.boob-strapper .tabs h4.selected {
  color: #ffb827;
  cursor: initial;
  font-size: 20px;
  font-weight: 400;
  height: 30px;
  letter-spacing: 0.22px;
  padding-top: 2px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, -2px -2px 5px rgba(255, 159, 0, 0.4),
    2px -2px 5px rgba(255, 159, 0, 0.4), -2px 2px 5px rgba(255, 159, 0, 0.4),
    2px 2px 5px rgba(255, 159, 0, 0.4), 0 0 10px rgba(255, 159, 0, 0.4);
}

.hh-plus-plus-config-panel.boob-strapper .group-panel {
  display: none;
  height: 405px;
  position: absolute;
  top: 54px;
  width: 889px;
}

.hh-plus-plus-config-panel.boob-strapper .group-panel.shown {
  display: block;
}

.hh-plus-plus-config-panel.boob-strapper .group-panel .panel-contents {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.hh-plus-plus-config-panel.boob-strapper .config-setting {
  background: rgba(32, 3, 7, 0.9);
  border: 1px solid #aaa;
  border-radius: 6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  padding: 7px;
}

.hh-plus-plus-config-panel.boob-strapper .config-setting.enabled {
  border-color: #ffb827;
}

.hh-plus-plus-config-panel.boob-strapper .config-setting.has-subsettings {
  grid-row-end: span 2;
}

.hh-plus-plus-config-panel.boob-strapper .base-setting {
  display: flex;
}

.hh-plus-plus-config-panel.boob-strapper .base-setting span {
  flex: 1;
}

.hh-plus-plus-config-panel.boob-strapper .sub-settings {
  font-size: 12px;
  margin-top: 8px;
}

.hh-plus-plus-config-panel.boob-strapper .sub-settings label {
  align-items: center;
  display: flex;
  margin-bottom: 6px;
}

.hh-plus-plus-config-panel.boob-strapper .sub-settings label span {
  flex: 1;
}

.hh-plus-plus-config-panel.boob-strapper .sub-settings label input {
  margin-left: 0;
}

.hh-plus-plus-config-panel.boob-strapper .sub-settings label input[disabled] {
  background-color: initial;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}