.hh-plus-plus-config-button.boob-strapped {
  position: absolute;
  right: 200px;
  cursor: pointer;
  background-size: contain;
  background-image: url(https://hh.hh-content.com/pictures/gallery/18/200x/274ee3398698f14a0f26550be9e29c2f.webp);
  z-index: 5;
}

@media (min-width: 1026px) {
  .hh-plus-plus-config-button.boob-strapped {
    height: 40px;
    width: 40px;
    top: 56px;
  }
}
@media (max-width: 1025px) {
  .hh-plus-plus-config-button.boob-strapped {
    height: 70px;
    width: 70px;
    top: 85px;
    right: 140px;
  }
}

@media (min-width: 1026px) {
  .hh-plus-plus-config-button.boob-strapped:after {
    font-size: 15px;
    height: 20px;
    line-height: 20px;
  }
}
@media (max-width: 1025px) {
  .hh-plus-plus-config-button.boob-strapped:after {
    font-size: 25px;
    height: 40px;
    line-height: 46px;
  }
}

.hh-plus-plus-config-button.boob-strapped:after {
  content: "BS";
  position: absolute;
  width: auto;
  bottom: -3px;
  right: -5px;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000,
    0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000,
    0 0 1px #000, 0 0 1px #000;
  -webkit-transform: rotate(-18.95deg);
  -moz-transform: rotate(-18.95deg);
  transform: rotate(-18.95deg);
}
